<nav
  [ngClass]="{'-translate-x-0 ease-in opacity-100' : this.dataService.showMenu === true, '-translate-x-full ease-out opacity-0':this.dataService.showMenu === false}"
  class="absolute max-h-screen overflow-y-auto inset-0 transform duration-200 lg:transform-none lg:opacity-100 ease-in -translate-x-full lg:relative z-10 w-11/12 md:w-64 h-full bg-gray-800 text-white border-r-4 border-secondaryColor p-3">
  <div class="flex justify-between">
    <div title="perfil de usuario" routerLink="perfil" class="flex cursor-pointer hover:text-gray-200">
      <div *ngIf="authService.usuario.role === 'ADMIN_ROLE'"
        class="bg-blue-100 flex items-center justify-center w-14 h-14 rounded-full shadow border border-blue-200">
        <p class="text-3xl font-semibold text-blue-900"> A </p>
      </div>
      <div *ngIf="authService.usuario.role === 'DELIVERY_ROLE'"
        class="bg-green-100 flex items-center justify-center w-14 h-14 rounded-full shadow border border-green-200">
        <p class="text-3xl font-semibold text-green-500"> R </p>
      </div>
      <div *ngIf="authService.usuario.role === 'USER_ROLE'"
        class="bg-orange-100 flex items-center justify-center w-14 h-14 rounded-full shadow border border-orange-200">
        <p class="text-3xl font-semibold text-orange-500"> E </p>
      </div>
      <div class='ml-2 mt-2'>
        <p class="capitalize text-sm font-semibold"> {{ authService.usuario.apellido.toLowerCase() + ' ' +
          authService.usuario.nombre.toLowerCase() }} </p>
        <p *ngIf="authService.usuario.role === 'ADMIN_ROLE'" class="capitalize text-sm"> Administrador </p>
        <p *ngIf="authService.usuario.role === 'DELIVERY_ROLE'" class="capitalize text-sm"> Repartidor </p>
        <p *ngIf="authService.usuario.role === 'USER_ROLE'" class="capitalize text-sm"> Empleado </p>
      </div>
    </div>
    <button (click)="this.dataService.showMenu = false"
      class="p-2 lg:hidden focus:outline-none focus:bg-gray-600 rounded-md">
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
  </div>
  <ul class="mt-5 text-sm">

    <!-- Home -->
    <li routerLinkActive="bg-secondaryColor rounded" routerLink="home"
      class="flex transform hover:translate-x-2 duration-500 items-center outline-none cursor-pointer p-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
      </svg>
      <a class="ml-2 mt-1"> Inicio </a>
    </li>

    <!-- Usuarios -->
    <li routerLinkActive="bg-secondaryColor rounded" routerLink="usuarios"
      class="flex transform hover:translate-x-2 duration-500 items-center outline-none cursor-pointer p-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
      </svg>
      <a class="ml-2 mt-1"> Usuarios </a>
    </li>

    <!-- Finalizar sesion -->
    <li (click)="logout()"
      class="flex outline-none transform hover:translate-x-2 duration-500 items-center cursor-pointer p-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
      </svg>
      <a class="ml-2 mt-1"> Cerrar sesion </a>
    </li>

  </ul>
</nav>
