<nav
  [ngClass]="{'-translate-x-0 ease-in opacity-100' : this.dataService.showMenu === true, '-translate-x-full ease-out opacity-0':this.dataService.showMenu === false}"
  class="absolute max-h-screen overflow-y-auto inset-0 transform duration-200 lg:transform-none lg:opacity-100 ease-in -translate-x-full lg:relative z-10 w-11/12 md:w-64 h-full bg-gray-800 text-white border-r-4 border-secondaryColor p-3">
  <div class="flex justify-between">
    <div title="perfil de usuario" routerLink="perfil" class="flex cursor-pointer hover:text-gray-200">
      <div *ngIf="authService.usuario.role === 'ADMIN_ROLE'"
        class="bg-blue-100 flex items-center justify-center w-14 h-14 rounded-full shadow border border-blue-200">
        <p class="text-3xl font-semibold text-blue-900"> A </p>
      </div>
      <div *ngIf="authService.usuario.role === 'DELIVERY_ROLE'"
        class="bg-green-100 flex items-center justify-center w-14 h-14 rounded-full shadow border border-green-200">
        <p class="text-3xl font-semibold text-green-500"> R </p>
      </div>
      <div *ngIf="authService.usuario.role === 'USER_ROLE'"
        class="bg-orange-100 flex items-center justify-center w-14 h-14 rounded-full shadow border border-orange-200">
        <p class="text-3xl font-semibold text-orange-500"> E </p>
      </div>
      <div class='ml-2 mt-2'>
        <p class="capitalize text-sm font-semibold"> {{ authService.usuario.apellido.toLowerCase() + ' ' +
          authService.usuario.nombre.toLowerCase() }} </p>
        <p *ngIf="authService.usuario.role === 'ADMIN_ROLE'" class="capitalize text-sm"> Administrador </p>
        <p *ngIf="authService.usuario.role === 'DELIVERY_ROLE'" class="capitalize text-sm"> Repartidor </p>
        <p *ngIf="authService.usuario.role === 'USER_ROLE'" class="capitalize text-sm"> Empleado </p>
      </div>
    </div>
    <button (click)="this.dataService.showMenu = false"
      class="p-2 lg:hidden focus:outline-none focus:bg-gray-600 rounded-md">
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
  </div>
  <ul class="mt-5 text-sm">

    <!-- Home -->
    <app-navbar-item [item]="{ nombre: 'Home', ruta: 'home' }"></app-navbar-item>

    <!-- Configuraciones -->
    <app-navbar-secciones [seccion]="configuraciones"/>

    <!-- Finalizar sesion -->
    <app-navbar-item [item]="{ nombre: 'Cerrar sesion', ruta: '' }"></app-navbar-item>

  </ul>
</nav>
